@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
  --background-color: hsl(212, 45%, 89%);
  --card-background: hsl(0, 0%, 100%);
  --bold-font-color: hsl(218, 44%, 22%);
  --font-color: hsl(216, 15%, 48%);
  --font-style: 'Outfit', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  background-color: var(--background-color);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  font-family: var(--font-style);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

img {
  width: 90%;
  margin: 1rem auto;
  border-radius: 0.9375rem;
  box-shadow: 0.3125rem 0.3125rem 0.9375rem rgba(0, 0, 0, 0.445);
  height: 18.75rem;
}

.container {
  max-width: 18.75rem;
  display: flex;
  flex-direction: column;
  background-color: var(--card-background);
  border-radius: 0.9375rem;
  box-shadow: 0.3125rem 0.3125rem 0.625rem hsla(0, 0%, 0%, 0.279);
}

.bold {
  text-align: center;
  font-size: 1.35rem;
  display: block;
  font-weight: 700;
  padding: 0;
  color: var(--bold-font-color);
  margin-block-end: 1rem;
}

p {
  text-align: center;
  font-size: 0.9rem;
  color: var(--font-color);
  margin-block-end: 2rem;
}
